OPENAI_MODEL=<MODEL> #gpt-4o-mini
TEMPERATURE=0.7
OPENAI_API_KEY=<API_KEY>
EMBEDDING_MODEL=<EMBEDDING_MODEL> #text-embedding-3-small

# POSTGRES VECTOR-DB DETAILS
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=